section{
    padding: 2rem 0;
}
.sony-logo{
    width: 80px;
}
.my-nav-bottom{
    
    background-color: white;

}
.my-header{
    position: sticky;
    top: -30.1px;
    z-index: 10;
    background-color: white;
}
.bg-grey{
    background-color: #bebcbb;
}
.logo-plus{
    width: 70%;

}
.logo-now{
    width: 70%;
}
.my-hearts{
    width: 15px;
}
.my-sony{
    width: 90px;
} .invisible-img{
    display: none;
}
a.d-flex:hover .visible-img{
    display: none;
}
a.d-flex:hover .invisible-img{
    display: block;
}


.my-card-hover:hover {
    animation-name: my-card;
    animation-iteration-count: 1;
    animation-duration: 0.40s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-fill-mode: both;
}

.my-card-hover{
    opacity: 0.5;
}
.my-card-hover-r:hover {
    
    animation-name: my-card;
    animation-iteration-count: 1;
    animation-duration: 0.40s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-fill-mode: both;
}
@keyframes my-card {
    0%{
        position: relative;
        bottom: 0;
        opacity: 0.6;
        box-shadow: 0 0px 0px rgb(164, 164, 164);
    }
    25%{
        position: relative;
        bottom: 2.5px;
        opacity: 0.7;
        box-shadow: 0 3px 3px rgb(164, 164, 164);
    }
    50%{
        position: relative;
        bottom: 5px;
        opacity: 0.8;
        box-shadow: 0 6px 6px rgb(164, 164, 164);
    }
    75%{
        position: relative;
        bottom: 7.5px;
        opacity: 0.9;
        box-shadow: 0 9px 9px rgb(164, 164, 164);
    }
    100%{
        position: relative;
        bottom: 10px;
        opacity: 1;
        box-shadow: 0 12px 12px rgb(164, 164, 164);
    }
}
.my-card-hover-r{
    opacity: 0.5;
}
.border-bottom-hover-blu:hover{
    transition: 0.1s;
    transition-timing-function: linear;
    border-bottom: 4px solid blue;
    margin-bottom: -6px;
    
}
.my-btn-hover:hover{
    margin: -4px;
    border: 3px solid whitesmoke;
    transition: 0.1s;
}
.my-btn-hover-2:hover{
    margin: -4px;
    border: 3px solid blue;
    transition: 0.1s;
}
.my-btn-hover-3:hover{
    margin: -2px;
    border: 3px solid rgb(0, 0, 150);
    transition: 0.1s;
}
.my-btn-hover-03:hover{
    margin: -4px;
    border: 3px solid rgb(0, 0, 150);
    transition: 0.1s;
}
.scale-hover:hover{
    scale: 1.04;
    transition: 0.3s;
}

img.display-nascosto:focus + .display-burger{
    display: block !important;
    position: absolute;
    right: 0px;
    top: 80px;

}
.display-burger{
    display: none !important;
    
}

a{
    text-decoration: none;
    color: black;
}
header a{
    font-weight: 600;
}
footer a{
    color: white;
    

}
footer ul{
    list-style: none;
}
.my-chevron-down{
    width: 10px;
    margin: 8px 0 0 10px;
}
.my-lens{
    width: 20px;
    margin: 8px 0 0 10px;
}
.icona-burger{
    width: 35px;
    padding: 0.4rem;
}

.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    background-size: cover;
    object-fit: cover;
    padding-top: 200px;
    background-repeat: no-repeat;
    
      
}
.bg-dark-blue{
    background-color: #161c3b;
}
.my-returnal{
    width: 63%;
    
}
h6{
    font-size: small;
}

.it-takes{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}
.playstation-plus{
    padding: 0;
}
.div-playstation-plus{
    padding: 2rem 0;
}
.my-crash-bandicot-hover:hover{
    transition: 0.5s;
    scale: 1.1;
    border: 2px solid rgb(255, 91, 255);
   
    
    
}
.my-tony-hawk-hover:hover{
    transition: 0.5s;
    scale: 1.1;
    border: 2px solid white;
    
}
.my-card-sale-hover:hover{
    opacity: 0.5;
    transition: 0.2s;
    

}
.my-social-hover:hover{
    transition: 0.4s;
    scale: 0.9;
    opacity: 0.6;
    border-radius: 30%;
}

@media screen and (min-width: 576px){
    
    .jumbotron{
        background-image: url(../img/jumbo-bg.png);
        background-size: cover;
        padding-top: 200px;
        

    }
    .my-returnal{
        width: 60%;
        
    }
    
}

@media screen and (min-width: 768px){
    
    .jumbotron{
        background-image: url(../img/jumbo-bg.png);
        background-size: cover;
        padding-top: 230px;
    }
    .my-returnal{
        width: 58%;
        
    }
    .div-playstation-plus{
        padding:0;
    }
    
}



@media screen and (min-width: 992px){
    
    .jumbotron{
        background-image: url(../img/jumbo-bg.png);
       
          padding-top: 250px;
          
    }
    
}